// color
$primary_white: #ffffff;
$primary_black: #000000;
$secondary_black: #252525;
$primary_grey: #DCDCDC;
$secondary_grey: #717171;
$third_grey: #808080;
$primary_blue: #3254D3;


// font size
$font_xxl: 32px;
$font_xl: 24px;
$font_l: 20px;
$font_m: 18px;
$font_sm: 16px;
$font_s: 14px;
$font_xs: 12px;
$font_vs: 10px;
$font_xvs: 8px;

