@use "../../GlobalStyles" as *;

.login {
  background-image: url("../../Assets/Images/LoginBg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_cont {
    width: 60%;
    margin: 0 auto;

    &_sec {
      background-color: $primary_white;
      border-radius: 24px;
      padding: 2rem;
      width: 100%;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

      &_header {
        text-align: center;
        margin-bottom: 2rem;

        img {
          width: 200px;
        }
      }

      &_content {
        &_box {
          &_logo {
            text-align: center;
            margin-bottom: 1rem;

            img {
              width: 80px;
            }
          }

          &_title {
            text-align: center;
            margin-bottom: 2rem;

            h2 {
              font-size: $font_xl;
              font-weight: 600;
              color: $primary_blue;
            }

            p {
              font-size: 14px;
              color: $secondary_grey
            }
          }

          &_data {
            &_inputs {
              margin-bottom: 1.5rem;

              .error {
                color: red;
                font-size: $font_s;
              }
            }
          }

          &_buttons {
            margin-top: 2rem;
          }

          &_signup-link {
            margin-top: 1rem;
            text-align: center;

            p {
              font-size: 14px;
              color: $secondary_grey

              a {
                color: $primary_blue;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
