@use "../../../GlobalStyles" as *;

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 600;

  &.btn-primary {
    background-color: $primary_blue;
    color: $primary_white;

    &:hover {
      background-color: darken($primary_blue, 10%);
    }
  }

  &.btn-secondary {
    background-color: $primary_grey;
    color: $primary_white;

    &:hover {
      background-color: darken($primary_grey, 10%);
    }
  }
}